.mydiv {
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 5px 0 0 30px; /*סדר ההרחקה : למעלה ימינה למטה שמאלה*/
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #2c2c54, #130e40);
}

.container {
  top: 80px;
  max-width: 900px;
  margin-left: 0;
  padding: 30px;
  font-family: "Arial", sans-serif;
}

.intro {
  font-size: 1.8rem;
  color: #eae3e3;
}

.highlight {
  color: #6f64fb;
}

.jobTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #eeecec;
  margin-top: 25px;
}

.description {
  font-size: 1rem;
  color: #f5f2f2;
  line-height: 1.6;
  margin-top: 5px;
  text-align: justify;
}

.button {
  margin-top: 5px;
  background-color: #6f64fb;
  border: none;
  border-radius: 20px; /* פינות מעוגלות */
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold; /* טקסט מודגש */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* אפקט מעבר חלק */
}

ul {
  margin-top: 15px;
  list-style: none; /* מסיר את הנקודות מהרשימה */
  display: flex;
  gap: 20px;
  padding: 0;
}

ul a {
  color: white;
  font-size: 2rem;
  transition: transform 0.3s ease; /* אפקט מעבר רך בעת ריחוף */
}

ul a:hover {
  transform: scale(1.1); /* אפקט גדילה קל בעת ריחוף */
}

a {
  font-weight: bold;
  color: #e4e4e4;
  text-decoration: none;
}

@media (max-width: 1298px) {
  .mydiv {
    height: 100vh;
    padding: 5px 0 40px 20px;
  }
  .name {
    font-size: 1.5rem;
  }

  .jobTitle {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.6rem;
  }

  a {
    font-size: 0.8rem;
    font-weight: bold;
    color: #dfdbe0;
    text-decoration: none;
  }
}

@media (max-width: 495px) {
  .mydiv {
    height: 1300px;
    padding: 350px 0 25px 10px;
  }

  .intro {
    font-size: 1.1rem;
    color: #eae3e3;
  }

  .name {
    margin-top: 10px;
    font-size: 1.8rem;
  }

  .jobTitle {
    margin-top: 30px;
    font-size: 1rem;
  }

  .description {
    margin-top: 5px;
    font-size: 0.9rem;
  }

  a {
    font-size: 0.6rem;
    font-weight: bold;
    color: #dfdbe0;
    text-decoration: none;
  }
}
