.mydiv {
  position: relative;
  padding: 5px 0 0 30px; /*סדר ההרחקה : למעלה ימינה למטה שמאלה*/
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 35, 35);
  /* overflow: scroll; */
}

.container {
  top: 90px;
  max-width: 700px;
  margin-left: 0;
  padding: 30px;
  font-family: "Arial", sans-serif;
}

.intro {
  font-size: 1.5rem;
  color: #eae3e3;
}

.highlight {
  color: #bc13ff; /* צבע סגול */
}

.jobTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #eeecec;
  margin-top: 25px;
}

.description {
  font-size: 1rem;
  color: #f5f2f2;
  line-height: 1.6;
  margin-top: 5px;
  text-align: justify;
}

.button {
  margin-top: 5px;
  background-color: #333; /* צבע רקע רגיל */
  border: none; /* ללא גבול */
  border-radius: 20px; /* פינות מעוגלות */
  padding: 5px 10px; /* ריווח פנימי אופקי ואנכי */
  font-size: 1rem; /* גודל טקסט */
  font-weight: bold; /* טקסט מודגש */
  cursor: pointer; /* מצביע עכבר משתנה ליד */
  transition: background-color 0.3s ease, transform 0.2s ease; /* אפקט מעבר חלק */
}

.talk {
  font-size: 1.8rem;
  font-weight: bold;
  color: #bc13ff;
  margin-top: 27px;
}

ul {
  margin-top: 15px;
  list-style: none; /* מסיר את הנקודות מהרשימה */
  display: flex; /* מציב את הפריטים אחד ליד השני */
  gap: 20px; /* מרווח קטן בין האייקונים */
  padding: 0; /* מסיר ריווח פנימי */
}

ul a {
  color: white; /* צבע לבן לאייקונים */
  font-size: 2rem; /* גודל אייקון גדול יותר */
  transition: transform 0.3s ease; /* אפקט מעבר רך בעת ריחוף */
}

ul a:hover {
  transform: scale(1.1); /* אפקט גדילה קל בעת ריחוף */
}

a {
  font-weight: bold;
  color: #bc13ff;
  text-decoration: none;
}

a:hover {
  color: #dca6f1;
}

/* מסכים קטנים יותר מ-768px */
@media (max-width: 1268px) {
  .mydiv {
    height: 110vh;
    padding: 5px 0 40px 20px; /* התאמת מרווחים למסכים קטנים */
  }
  .name {
    font-size: 1.5rem; /* הקטנת גודל הכותרת */
  }

  .jobTitle {
    font-size: 1.1rem; /* הקטנת גודל הכותרת המשנית */
  }

  .description {
    font-size: 0.6rem; /* הקטנת גודל הטקסט */
  }

  a {
    font-size: 0.8rem;
    font-weight: bold;
    color: #bc13ff;
    text-decoration: none;
  }

  a:hover {
    color: #dca6f1;
  }
}

/* מסכים קטנים במיוחד (פחות מ-375px) */
@media (max-width: 375px) {
  .mydiv {
    height: 230vh;
    padding: 240px 0 25px 10px; /* התאמת מרווחים למסכים קטנים */
  }

  .container {
    margin-top: 60px;
    bottom: 20px;
  }

  .intro {
    font-size: 1.1rem;
    color: #eae3e3;
  }

  .name {
    margin-top: 10px;
    font-size: 1.8rem;
  }

  .jobTitle {
    margin-top: 30px;
    font-size: 1rem;
  }

  .description {
    margin-top: 5px;
    font-size: 0.7rem;
  }

  .talk {
    font-size: 1.2rem;
    font-weight: bold;
    color: #bc13ff;
    margin-top: 10px;
  }
  a {
    font-size: 0.6rem;
    font-weight: bold;
    color: #bc13ff;
    text-decoration: none;
  }

  a:hover {
    color: #dca6f1;
  }
}
