* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mydiv {
  padding: 40px 0 0 30px; /*סדר ההרחקה : למעלה ימינה למטה שמאלה*/
  width: 100%;
  height: 85vh;
  background-color: rgb(35, 40, 40);
  /* overflow: scroll; */
}

h2 {
  text-align: center;
  margin-top: 2px;
}

span {
  color: #aa15db;
}

@media (max-width: 1268px) {
  .mydiv {
    padding: 40px 30px 50px 30px;
    height: 95vh;
  }
}

@media (max-width: 476px) {
  .mydiv {
    padding: 40px 30px 50px 30px;
    height: 60vh;
  }
}
