.mydiv {
  display: flex; /* שימוש ב-Flexbox */
  flex-direction: column; /* מסדר את התוכן בעמודה */
  justify-content: center; /* מרכז אנכית */
  align-items: center; /* מרכז אופקית */
  padding: 70px 0 0 30px; /* הרחקות לפי הצורך */
  width: 100%;
  height: 80%;
  background-color: rgb(35, 40, 40);
}

/* מגדירים את העיצוב הכללי */
.container {
  max-width: 900px;
  padding: 30px;
  font-family: "Arial", sans-serif;
  text-align: center; /* מרכז את הטקסט בתוך ה-Container */
}

.intro {
  font-size: 1.1rem;
  color: #eae3e3;
}

.highlight {
  color: #bc13ff; /* צבע סגול */
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
  color: #bc13ff;
  margin-top: 25px;
}

.jobTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #eeecec;
  margin-top: 25px;
}

.description {
  font-size: 1rem;
  color: #f5f2f2;
  line-height: 1.6;
  margin-top: 25px;
  text-align: justify;
}

.talk {
  font-size: 1.8rem;
  font-weight: bold;
  color: #bc13ff;
  margin-top: 27px;
}

.links {
  display: flex; /* מציב את הקישורים אחד ליד השני */
  justify-content: center; /* ממרכז את הרשימה */
  gap: 30px; /* מרווח בין הקישורים */
  list-style: none; /* מסיר את הנקודות מהרשימה */
  padding: 0;
  margin-top: 20px;
}

.links a {
  margin-top: 10px;
  color: white; /* צבע לבן לקישורים */
  font-size: 2rem; /* גודל האייקונים */
  transition: transform 0.3s ease; /* אפקט מעבר רך */
}

.links a:hover {
  transform: scale(1.1); /* הגדלה בעת ריחוף */
}

/* מסכים קטנים יותר מ-768px */
@media (max-width: 1798px) {
  .mydiv {
    height: 90vh;
    padding: 100px 0 40px 20px; /* התאמת מרווחים למסכים קטנים */
  }
  .name {
    font-size: 2.5rem; /* הקטנת גודל הכותרת */
  }

  .jobTitle {
    font-size: 1.5rem; /* הקטנת גודל הכותרת המשנית */
  }

  .description {
    font-size: 0.9rem; /* הקטנת גודל הטקסט */
  }

  ul a {
    font-size: 1.8rem; /* הקטנת גודל האייקונים */
  }
}

/* מסכים קטנים במיוחד (פחות מ-375px) */
@media (max-width: 495px) {
  .mydiv {
    height: 550px;
    padding: 100px 0 25px 10px; /* התאמת מרווחים למסכים קטנים */
  }

  .intro {
    font-size: 1.1rem;
    color: #eae3e3;
  }

  .name {
    margin-top: 10px;
    font-size: 1.8rem;
  }

  .jobTitle {
    margin-top: 10px;
    font-size: 1rem;
  }

  .description {
    margin-top: 20px;
    font-size: 0.9rem;
  }

  .talk {
    font-size: 1.2rem;
    font-weight: bold;
    color: #bc13ff;
    margin-top: 35px;
  }

  ul {
    margin-top: 5px;
  }

  ul a {
    padding-right: 10px;
    font-size: 20px !important; /* הקטנת האייקונים עוד יותר */
  }
}
