* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mydiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 30px;
  width: 100%;
  height: 75vh;
  background: linear-gradient(45deg, #2c2c54, #130e40);
}

.container {
  max-width: 900px;
  padding: 30px;
  font-family: "Arial", sans-serif;
}

.intro {
  text-align: left;
  font-size: 1.8rem;
  color: #eae3e3;
}

.highlight {
  color: #6f64fb;
}

.name {
  text-align: left;
  font-size: 3.5rem;
  font-weight: bold;
  color: #6f64fb;
  margin-top: 25px;
}

.jobTitle {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 600;
  color: #eeecec;
  margin-top: 25px;
}

.description {
  font-size: 1rem;
  color: #f5f2f2;
  line-height: 1.6;
  margin-top: 25px;
  text-align: justify;
}

.talk {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6f64fb;
  margin-top: 27px;
}

.links {
  display: flex;
  justify-content: center; /* ממרכז את הרשימה */
  gap: 30px;
  list-style: none; /* מסיר את הנקודות מהרשימה */
  padding: 0;
  margin-top: 20px;
}

.links a {
  margin-top: 10px;
  color: white;
  font-size: 2rem;
  transition: transform 0.3s ease; /* אפקט מעבר רך */
}

.links a:hover {
  transform: scale(1.1); /* הגדלה בעת ריחוף */
}

@media (max-width: 1398px) {
  .mydiv {
    height: 55vh;
    padding: 30px 0 20px 20px;
  }
  .name {
    font-size: 2.5rem;
  }

  .jobTitle {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  ul a {
    font-size: 1.8rem;
  }
}

@media (max-width: 495px) {
  .mydiv {
    height: 470px;
    padding: 10px 0 0 10px;
  }

  .intro {
    font-size: 1.1rem;
    color: #eae3e3;
  }

  .name {
    margin-top: 10px;
    font-size: 2.5rem;
  }

  .jobTitle {
    margin-top: 10px;
    font-size: 1rem;
  }

  .description {
    margin-top: 20px;
    font-size: 0.9rem;
  }

  .talk {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 35px;
  }

  ul {
    margin-top: 5px;
  }

  ul a {
    padding-right: 10px;
    font-size: 20px !important;
  }
}
