* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.mydiv {
  padding: 7px 0 0 15px; /* סדר ההרחקה: למעלה ימינה למטה שמאלה */
  top: 10px;
  width: 100%;
  height: 10vh;
  background: linear-gradient(60deg, #2c2c54, #130e40);
  /* backdrop-filter: blur(7px); יוצר טשטוש */
}

.container {
  display: flex;
  justify-content: space-between; /* ממקם את האלמנטים בקצוות */
  align-items: center; /* מיישר את התוכן לאורך המרכז האנכי */
  padding: 10px 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titleContainer > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.span {
  background-color: #6f64fb;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navList {
  display: flex;
  gap: 40px;
  list-style: none; /* מבטל את הנקודות מהרשימה */
  margin: 0;
  padding: 0;
  transform: translateX(-30px); /* מרחיק את הרשימה שמאלה */
}

.navList li {
  margin: 0;
}

.navList a {
  text-decoration: none; /* מבטל קו תחתי */
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navList a:hover {
  color: #6f64fb;
}

/* רספונסיביות */
@media (max-width: 1398px) {
  /* לטאבלט */
  .mydiv {
    height: 9vh;
  }

  .titleContainer {
    margin-top: 10px;
    margin-left: 5px;
  }

  .titleContainer > h2 {
    font-size: 1.3rem;
  }

  .navList {
    gap: 20px;
    margin-top: 10px;
    margin-right: 5px;
  }

  .navList a {
    font-size: 1.2rem;
  }

  .navList a:hover {
    color: #6f64fb;
  }
}

@media (max-width: 498px) {
  /* לטלפון */
  .mydiv {
    width: 100%;
    height: 9vh;
  }

  .titleContainer {
    margin-top: 10px;
    margin-left: -20px;
  }

  .titleContainer > h2 {
    font-size: 1rem;
  }

  .navList {
    align-items: center; /* מיישר אנכית */
    gap: 10px;
    margin-top: 10px;
    margin-right: -40px;
  }

  .navList a {
    font-size: 1rem !important;
  }

  .navList a:hover {
    color: #6f64fb;
  }
}
