* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  padding: 30px 0 0 30px;
  width: 100%;
  height: 140%;
  background: linear-gradient(55deg, #2c2c54, #130e40);
}

.conection {
  margin-top: -30px;
  margin-left: 50px;
}

.reserved {
  margin-top: -50px;
  margin-right: 80px;
  text-align: right;
}

.talk {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: -1vh;
}

span {
  color: #6f64fb;
}

ul {
  text-decoration: none;
  display: flex;
  justify-content: center; /* ממרכז את הרשימה */
  gap: 30px;
  list-style: none; /* מסיר את הנקודות מהרשימה */
  padding: 0;
  margin-top: 20px;
}

ul a {
  color: white;
  font-size: 2rem;
  transition: transform 0.3s ease; /* אפקט מעבר רך */
}

ul a:hover {
  transform: scale(1.1); /* הגדלה בעת ריחוף */
}

/* רספונסיביות למסכי טאבלט */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .reserved,
  .conection {
    margin: 10px 0;
    text-align: center;
  }

  ul {
    flex-direction: column; /* הצגת הרשימה בעמודה */
    gap: 15px;
  }

  ul a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 495px) {
  .footer {
    padding: 15px;
  }

  .reserved {
    margin-top: -37px;
    margin-left: 230px;
    font-size: 0.6rem;
  }
  .conection {
    margin-top: -20px;
    margin-left: -230px;
    font-size: 0.6rem;
  }

  .talk {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  ul {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none; /* מסיר את הנקודות מהרשימה */
    padding: 0;
    margin-top: 1px;
  }

  ul a {
    font-size: 1.2rem;
  }
}
